@{
    ViewBag.Title = "短信列表";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("首页", "index", "home")</li>
    <li>@Html.ActionLink("短信管理", "index")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div id="list" class="table-responsive">
    @Html.Partial("_ListPartial")
</div>
