@{
    ViewBag.Title = "推送消息";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("首页", "index", "home")</li>
    <li>@Html.ActionLink("推送管理", "index")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<input />
<input />
<input type="button" value="push" />