<?xml version="1.0" encoding="utf-8"?>
<unity>
  <container>
    <!--Application Service Implementations-->
    <register type="GomPlayer.IApplication.IDeviceService, GomPlayer.IApplication" mapTo="GomPlayer.Application.DeviceService, GomPlayer.Application" />
    <register type="GomPlayer.IApplication.ISmsService, GomPlayer.IApplication" mapTo="GomPlayer.Application.SmsService, GomPlayer.Application" />

    <!--Repository Context & Repositories-->

    <!--Entity Framework-->
    <register type="GomPlayer.Domain.Repositories.IRepositoryContext, GomPlayer.Domain" mapTo="GomPlayer.Infrastructure.Repositories.EntityFramework.GomPlayerRepositoryContext, GomPlayer.Infrastructure.Repositories">
      <!--<lifetime type="GomPlayer.Infrastructure.Ioc.UnityPerRequestLifetimeManager, GomPlayer.Infrastructure.Ioc" />-->
    </register>
    <register type="GomPlayer.Domain.Repositories.IDeviceRepository, GomPlayer.Domain" mapTo="GomPlayer.Infrastructure.Repositories.EntityFramework.DeviceRepository, GomPlayer.Infrastructure.Repositories" />
    <register type="GomPlayer.Domain.Repositories.ISmsRepository, GomPlayer.Domain" mapTo="GomPlayer.Infrastructure.Repositories.EntityFramework.SmsRepository, GomPlayer.Infrastructure.Repositories" />
  </container>
</unity>